{% extends 'fiambres/listado_productos.html' %}
{% block titulo %}
    Crear Unidad de Medida
{% endblock titulo %}
{% block barra %}
{% endblock barra %}
{% block barradebusqueda %} 
<br>
<br>
<br>
{% endblock barradebusqueda %} 
{% block categorias %}
{% endblock categorias %}
{% block header %}
{% endblock header %}
{% block body %}
<body>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Crear unidad de Medida</h2>
            </div>
            <form action="{%url 'fiambres:crear_unidadmedida' %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <a href="{% url 'fiambres:listar_unidadmedida'%}" button class="btn btn-danger" type="button" data-dismiss = "modal">Cancelar</a></button>
                    <button class="btn btn-dark" type="submit">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
    <footer class="py-22 bg-black">
        <div class="container"><p class="text-center text-white"> losmillosistemas</p></div>
        <div class="text-white bg-black" class="nav-item" >	
        &nbsp<i class="fas fa-map-marker"></i> Marcelo T. de Alvear 465, Don Torcuato.<span style="text-align:left; margin-left:15px; border-bottom: 1px solid rgba(125,125,125,0.3);"></span>	
        <i class="fas fa-envelope">  011 4748-7404   &nbsp&nbsp&nbsp&nbsp</i><span style="text-align:right; margin-right:25px; border-bottom: 1px solid rgba(125,125,125,0.3);"></span>
        </div>
    </footer>

    {%block extrajs %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/af-2.3.7/b-2.2.2/date-1.1.2/fc-4.0.2/r-2.2.9/datatables.min.js"></script>
    <script>
        var $ = jQuery.noConflict();
        $(document).ready(function(){
                    $('#lista_usuarios').DataTable({
                        language: {
                                decimal: "",
                                emptyTable: "No hay información",
                                info: "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                                infoEmpty: "Mostrando 0 to 0 of 0 Entradas",
                                infoFiltered: "(Filtrado de _MAX_ total entradas)",
                                infoPostFix: "",
                                thousands: ",",
                                lengthMenu: "Mostrar _MENU_ Entradas",
                                loadingRecords: "Cargando...",
                                processing: "Procesando...",
                                search: "Buscar:",
                                zeroRecords: "Sin resultados encontrados",
                                paginate: {
                                first: "Primero",
                                last: "Ultimo",
                                next: "Siguiente",
                                previous: "Anterior",
                                }
                            },
                        lengthMenu: [[5,10,50,100],[5,10,50,100]],

                })
        })

    </script>
    <script type="text/javascript">
                var $ = jQuery.noConflict();
                function abrir_modal_edicionusuario(url){
                $('#edicionusuario').load(url, function(){
                    $(this).modal('show');
                });
                }
                function abrir_modal_creacionusuario(url){
                $('#creacionusuario').load(url, function(){
                    $(this).modal('show');
                });
                }
                function abrir_modal__creacionusuario(url){
                $('#creacionusuario_').load(url, function(){
                    $(this).modal('show');
                });
                }
    </script>


    {%endblock extrajs %}
</body>
{% endblock body %}
{%block foott %}
{%endblock foott %}

<!-- Bootstrap core JS-->

{% block botonbusqueda %}
{% endblock botonbusqueda %}


