{% extends 'fiambres/listado_productos.html' %}
{% load static %}
{% block titulo %}
    Listado de pedidos
{% endblock titulo %}
{% block barra %}
{% endblock barra %}
{% block barradebusqueda %} 
<br>
<br>
<br>
{% endblock barradebusqueda %} 
{% block categorias %}
{% endblock categorias %} 
{% block header %}
{% endblock header %}
{% block body %}
&nbsp
&nbsp  
&nbsp
&nbsp
<div>
    <div>
        <form method="get">
          {% csrf_token %}
        </form>
    </div>
</div>
</div>
    {% if ordenes_usuarios %}
    &nbsp
    <table id="listado_Historico" class="thead-dark" style= "width: 75%, " >
        <thead>
            <th scope="col">Número de orden</th>
            <th scope="col">Cliente</th>
            <th scope="col">Total $</th>
            <th scope="col">Fecha Orden</th>
            <th scope="col">Pedido</th>
            <th scope="col">Orden</th>
        </thead>
        <tbody>
            {% for orden_usuario in ordenes_usuarios %}
            <tr>
                <th scope="row">{{orden_usuario.id}}</th>
                <th scope="row">{{orden_usuario.user.username}}</th>
                <th scope="row">{{orden_usuario.total_amt}}</th>
                <th scope="row">{{orden_usuario.fecha_order}}</th>
                <td>
                    <button class="btn btn-dark" type="button" onclick="abrir_modal_edicion_orden('{% url 'fiambres:editar_orden' orden_usuario.id %}')">Actualizar orden</a>
                </td>
                <td>
                    <a href="{% url 'fiambres:pedido_historico_id' orden_usuario.id %}" button class="btn btn-danger" type="button" data-dismiss = "modal">Ver pedido</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2>No existen pedidos registrados</h2>
    {% endif %}
    <br>
    <br>
    <br>



    <div class="modal fade" id="edicion_orden" role="dialog"> 
    </div>
    <div class="modal fade" id="creacionusuario_" role="dialog"> 
    </div>
    <div class="modal fade" id="edicionusuario" role="dialog"> 
    </div>
    {% endblock body %}
    {%block extrajs %}
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/af-2.3.7/b-2.2.2/date-1.1.2/fc-4.0.2/r-2.2.9/datatables.min.js"></script>
                <script>
                    var $ = jQuery.noConflict();
                    $(document).ready(function(){
                                $('#listado_Historico').DataTable({
                                    language: {
                                            decimal: "",
                                            emptyTable: "No hay información",
                                            info: "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                                            infoEmpty: "Mostrando 0 to 0 of 0 Entradas",
                                            infoFiltered: "(Filtrado de _MAX_ total entradas)",
                                            infoPostFix: "",
                                            thousands: ",",
                                            lengthMenu: "Mostrar _MENU_ Entradas",
                                            loadingRecords: "Cargando...",
                                            processing: "Procesando...",
                                            search: "Buscar:",
                                            zeroRecords: "Sin resultados encontrados",
                                            paginate: {
                                            first: "Primero",
                                            last: "Ultimo",
                                            next: "Siguiente",
                                            previous: "Anterior",
                                            }
                                        },
                                    lengthMenu: [[5,10,50,100],[5,10,50,100]],
    
                            })
                    })

                </script>
                <script type="text/javascript">
                            var $ = jQuery.noConflict();
                            function abrir_modal_edicion_orden(url){
                            $('#edicion_orden').load(url, function(){
                                $(this).modal('show');
                            });
                            }
                            function abrir_modal_creacionusuario(url){
                            $('#creacionusuario').load(url, function(){
                                $(this).modal('show');
                            });
                            }
                            function abrir_modal__creacionusuario(url){
                            $('#creacionusuario_').load(url, function(){
                                $(this).modal('show');
                            });
                            }
                </script>


{%endblock extrajs %}


